@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,900;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clr{
    clear: both;
}

body{
    font-family: var(--Playfire);
}

:root {
    --Playfire: 'Poppins', sans-serif;
    --color: red;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

a{
    text-decoration: none;
}

.container {
    width: 1200px;
    margin:0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    color: #EE6C4D;
}

.logo span {
    color: #98C1D9;
}

.logo img {
    width: 50px;
    height:50px;
    border-radius:50%;
    object-fit: cover;
    margin-right: 20px;
}

.navbar-nac {
    display: flex;
    align-items: center;
}

.navbar-nac a{
    margin-left: 35px;
    font-size: 15px;
    color: #fff;
    position: relative;
    transition: 0.1s linear;
}

.navbar-nac a:hover{
    color: #EE6C4D;
}

.navbar-nac a i {
    font-size: 17px;

}

.navbar-nac .active::after{
    content: "";
    display: block;
    width: 0;
    height: 1px;
    transition: width .3s;
}

.navbar-nac .active:hover::after{
    width: 100%;
    content: "";
    background: #ddd;
}

.lightbox {
    display: table;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition-duration: 1s;
}

.lightbox:target{
    top: 0;
}

.close{
    /* position the CLOSE button to the top-right corner */
    position: absolute;
    top: 10px;
    right: 60px;
    float: right;
    /* style the close button */
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: white;
 }



.lightbox-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#fff;
    width: 500px;
    padding: 60px;
}

.inupt_box h2 {
    padding: 0;
    display: block;
    margin: 0 0 30px;
    color: #0076ff;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.lightbox-content .inupt_box{
    position: relative;
}

.lightbox-content .inupt_box input{
    width: 100%;
    padding: 10px 4px;
    font-size: 15px;
    color: #0076ff;
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #0076ff;
}

.lightbox-content .inupt_box{
    position: relative;
}

.lightbox-content .inupt_box label{
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 10px 0;
    font-size: 17px;
    color: #0076ff;
    pointer-events: none;
    transition: .5s;
}


.lightbox-content input:focus ~ label,
.lightbox-content input:valid ~ label{
    top: -18px;
    font-size: 12px;
    left: 0;
}

.lightbox-content input[type="submit"]{
    background: transparent;
    border: 1px solid #0076ff;
    letter-spacing: 3px;
    font-size: 19px;
    text-transform: uppercase;
    border: none;
    outline: none;
    border: 1px solid #0076ff;
    transition: 1s ease;
}

.lightbox-content input[type="submit"]:hover{
    background: #0076ff;
    color: #fff;
}

/* .light-box-flex h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    color: #021E66;
    letter-spacing: 2px;
}

.light-box-flex input[type="text"],.light-box-flex input[type="password"]{
    margin: 20px auto;
    width: 300px;
    display: block;
    padding: 15px 10px;
    border: none;
    overflow: none;
    outline: none;
    transition: 0.5s ease;
    background:#429EBD;
    border-radius: 24px;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
}

.light-box-flex input[type="text"],.light-box-flex input[type="password"]::placeholder{
    text-transform: capitalize;
}

.light-box-flex input[type="text"]:focus,.light-box-flex input[type="password"]:focus{
    width: 340px;
}

.light-box-flex input[type="submit"]{
    margin: 20px auto;
    width: 140px;
    display: block;
    padding: 15px 10px;
    border: none;
    overflow: none;
    outline: none;
    transition: 0.5s ease;
    cursor: pointer;
    background:#429EBD;
    border-radius: 24px;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
} */


.background-img {
    background-image: url("../images/background.png");
    background-size: cover;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: -1;
}

.background-img::after{
    background: rgba(0, 0, 0, 0.5);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

 input[type="radio"] {
    display: none;
 }

.row-column {
    margin-top: -650px;
}

.accordion label {
    display: block;
    padding: 10px;
    border-bottom: 1px solid black;
    color: white;
    background: #0076ff;
    z-index: 2; /* put it above the accordion content */
 }
 .accordion:last-child > label, .accordion:last-child > .accordion-content {
    border: none;
 }
 .accordion-content {
    border-bottom: 1px solid black;
    padding: 0;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    z-index: -1;
    transition: 0.3s linear;
    z-index: 9999;
 }

.accordion-content p {
    color: #fff;
    line-height: 30px;
}

.accordion-content a{
    float: right;
    padding: 10px 0;
    color: #f4f4f4;
    border: 1px solid;
    background: #0076ff;
    width: 200px;
    text-align: center;
    letter-spacing: 4px;
    transition: 0.5s;
}

.accordion-content a:hover{
    opacity: 0.9;
    color: #fff;
    background: #3558AE;
}

 input:checked ~ .accordion-content {
    padding: 15px;
    opacity: 1;
    max-height: 500px;
}

.row-rewace h1 {
    text-align: center;
    color:#9FE7F5;
    margin: 10px;
    font-size: 35px;
    letter-spacing: 2px;
}

.clr {
    clear: both;
}

.row-rewace p {
    color:  #F4F1DE;
    z-index: 9999;
    width: 900px;
    text-align: center;
    margin: auto;
    line-height: 30px;
}

.row-rewace a {
    color: cornsilk;
}

.dasturchi {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
}

.conten {
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
}


.conten .card {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 15px;
    overflow: hidden;
}

.conten .card .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conten .card .imgBox,
.conten .card .about_content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.conten .card .about_content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
    transition-delay: 0.2s;
}

.conten .card:hover .about_content::before{
    transform: scaleX(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
    transition-delay: 0s;
}

.conten .card .about_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conten .card .about_content .contentBox {
    position: relative;
    padding: 30px;
    z-index: 1;
    transform: 0.5s;
    transform: translateX(-300px);
    transition-delay: 0s;
}

.conten .card:hover .about_content .contentBox{
    transform: translateX(0px);
    transition-delay: 0.5s;
} 


.conten .card:hover .about_content .contentBox h3 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.conten .card:hover .about_content .contentBox p {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 300;
    margin-top: 20px;
}

.conten .card:hover .about_content .contentBox a {
    position: absolute;
    bottom: -26px;
    right: 18px;
    border: 1px solid #333;
    background: #3D5A80;
    padding: 10px;
    color: #fff;
}

.about_logo {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    line-height: 40px;
    /* position: relative; */
}

.about_logo h2 {
    text-transform: uppercase;
    word-wrap: 5px;
    word-spacing: 5px;
    letter-spacing: 3px;
    cursor: pointer;
    text-align: center;
    position: relative;
}


.about_logo h2 span:first-of-type{
    color: #0076ff;
    word-wrap: 5px;
    word-spacing: 5px;
}

.about_logo h2 span:last-of-type{
    color: #EE6C4D;
    word-wrap: 5px;
    word-spacing: 5px;
}

